.App {
  text-align: center;
  background-color: #282c34;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
